# Data Science Tools and Ecotytsm
### In this notebook, Data Science Tools and Ecosystem are summarized.

### __Objectives:__
#### Where to find open data
- Open data portal list (datacatalogs.org)
- Governmental, intergovernmental and organization websites (data.un.org, www.data.gov)
- Kaggle (www.kaggle.com/data_sets)
- Google data set search (data_setsearch.reserch.google.com)

### 4. Some of the popular languages that Data Scientists use are:

In [9]:
ordered_list = ["Python", "R", "Scala"]
ordered_list

['Python', 'R', 'Scala']

### 5. Some of the commonly used libraries used by Data Scientists include:

In [10]:
ordered_list.extend(["TehsowFlow", "Keras", "Scikit-learn"])
ordered_list

['Python', 'R', 'Scala', 'TehsowFlow', 'Keras', 'Scikit-learn']

### 6.

In [11]:
import pandas as pd
data = {'Name': ordered_list[3:]}
df = pd.DataFrame(data)
df

           Name
0    TehsowFlow
1         Keras
2  Scikit-learn

### 7. Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
a = 2
b = 3
a + b

5

In [5]:
a ** b

8

In [6]:
a // b

0

### 8

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

### 9

In [8]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

### 11
## Author
Mark T